<!doctype html>
<html lang="en">

<head>
  <!-- Title of The Page -->
  <title>Smartcard | Login</title>
  <!-- Meta Informations -->
  <meta charset="utf-8">
  <meta name="description" content="Bootstrap 5 Responsive Gaspar | Personal Portfolio HTML Template">
  <meta name="keywords" content="Gaspar | Personal Portfolio HTML Template , template, bootstrap 5, ui template kit, Gaspar Personal Portfolio, html, css">
  <meta name="author" content="Gaspar | Personal Portfolio HTML Template">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Favicon -->
  <link type="image/x-icon" rel="shortcut icon" href="assets/images/logo/favicon.png" />
  <!-- Font CSS -->
  <link type="text/css" rel="stylesheet" href="assets/fonts/font.css" />
  <!-- Font-Awesome All CSS -->
  <link type="text/css" rel="stylesheet" href="assets/css/all.css" />
  <!-- Bootstrap CSS -->
  <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <!-- Owlcarousel CSS -->
  <link type="text/css" rel="stylesheet" href="assets/css/owl.carousel.min.css" />
  <!-- Fancybox CSS -->
  <link type="text/css" rel="stylesheet" href="assets/css/jquery.fancybox.min.css" />
  <!-- Animate CSS -->
  <link type="text/css" rel="stylesheet" href="assets/css/animate.min.css" />
  <!-- colors CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/colors.css" />
  <!-- Styles CSS -->
  <link type="text/css" rel="stylesheet" href="assets/css/styles.css" />
  <!-- Live Style Switcher - demo only -->
  <!-- Style Swicther -->
	<link id="style-switch" href="assets/css/colors/green.css" media="screen" rel="stylesheet" type="text/css">
  <!-- Responsive CSS -->
  <link type="text/css" rel="stylesheet" href="assets/css/responsive.css" />
</head>

<body>
  <!-- Body Part Start -->
  <div class="gaspar" data-magic-cursor="show" data-color="crimson">
    <!-- Pre-Loader Start-->
    <div id="preloader">
      <div class="loader_line"></div>
    </div>
    <!-- Pre-Loader end -->
    <!-- Style switcher start -->
	<!-- <div class="style-switch-wrapper">
		<div class="style-switch-button">
			<i class="fa fa-cog" aria-hidden="true"></i>
		</div>
		<h4>Unlimited Colors</h4>
    <ul class="">
      <li id="preset1" class=""><img
        src="assets/images/colors/orange.png" alt="orange" /></li>
      <li id="preset2" class=""><img
        src="assets/images/colors/purple.png" alt="purple" /></li>
      <li id="preset3" class=""><img
        src="assets/images/colors/red.png" alt="red" /></li>
      <li id="preset4" class=""><img
        src="assets/images/colors/violet.png" alt="violet" /></li>
      <li id="preset5" class=""><img
        src="assets/images/colors/blue.png" alt="blue" /></li>
      <li id="preset6" class=""><img
        src="assets/images/colors/golden.png" alt="golden" /></li>
      <li id="preset7" class=""><img
        src="assets/images/colors/magenta.png" alt="magenta" /></li>
      <li id="preset8" class=""><img
        src="assets/images/colors/yellowgreen.png" alt="yellowgreen" /></li>
      <li id="preset9" class=""><img
        src="assets/images/colors/green.png" alt="green" /></li>
      <li id="preset10" class=""><img
        src="assets/images/colors/yellow.png" alt="yellow" /></li>
    </ul>
    <h4>Light Mode</h4>
        <div class="switch" id="switcherrr">
          <a href="https://avstechnolabs.com/Themeforest/Gaspar/01/Dark/index.html"><i class="fas fa-moon open"></i></a>
        </div>
        <h4 class="title">Magic Cursor</h4>
        <ul class="cursor">
          <li><a class="showme show" href="#"></a></li>
          <li><a class="hide" href="#"><svg xmlns="http://www.w3.org/2000/svg" class="svg" id="Capa_1"
                enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512"
                >
                <g>
                  <path d="m451.002 183.574h29.997v84.853h-29.997z"
                    transform="matrix(.707 -.707 .707 .707 -23.318 395.706)"></path>
                  <path d="m271.002 3.574h29.997v84.853h-29.997z"
                    transform="matrix(.707 -.707 .707 .707 51.241 215.706)"></path>
                  <path d="m423.574 31.002h84.853v29.997h-84.853z"
                    transform="matrix(.707 -.707 .707 .707 103.961 342.985)"></path>
                  <path
                    d="m42.422 512 150.458-150.458 42.114 125.464 152.988-362.988-362.988 152.988 125.464 42.114-150.458 150.458z">
                  </path>
                  <path d="m361 0h30v61h-30z"></path>
                  <path d="m451 121h61v30h-61z"></path>
                </g>
              </svg></a></li>
        </ul>
        <a target="_blank" href="https://themeforest.net/item/gaspar-personal-portfolio-html-template/36192601"
          class="purchse-btn"><i class="fa fa-shopping-cart"></i> Purchase</a>
	</div> -->
    <!-- Header-section Start-->
    
    <!-- Header-section End-->
    <!-- section-part Start -->
    <div class="container ">
      <!-- Index-page Start -->
      <!-- Contact section Start -->
      <section id="contact" class="section active">
        <div class="homecolor-box"></div>
        <div class="common_bg animate__animated animate__zoomIn">
          <div class="container">
            <!-- Contact-page Start -->
            <div class="contact-section">
              <!-- Contact-Section Title -->
              <div class="row">
                <div class="col-12">
                  <div class="section-title animate__animated animate__fadeInDown animate__delay-1s">
                    <P class="common-desctiption">Bạn có chắc chắn muốn đăng xuất</P>
                    <h1 class="common-title">Khỏi smartcard</h1>
                    <div class="animated-bar"></div>
                  </div>
                </div>
              </div>
              <!-- Contact-Section Title End-->
              <!-- Contact Form Start -->
              <div class="contact-section  mt-5">
                <div class="row d-flex justify-content-center">
                  <!-- Contact form -->
                  <div class="col-lg-6 col-12 ">
                    <form
                      action="<%= action %>"
                      method="POST"
                    class="contact-form animate__animated animate__fadeInLeft animate__delay-2s"
                      id="contact-form">
                      <div class="row">
                        <input
                          type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input
                          type="hidden" name="challenge" value="<%= challenge %>">

                        </div>
                        
                        <% if (typeof(error) !== "undefined") { %>
                          <div class="invalid-feedback d-block text-center mb-3">
                            <%= error %>
                          </div>
                        <% } %>
                        
                        <div class="col-12 mb-4 form-submit">
                          <input class="clickbtn button-main button-scheme" type="submit" id="accept" value="Có" >
                          <input class="clickbtn button-main button-scheme" type="submit" id="reject" value="Không" />
                          <!-- <button class="clickbtn button-main button-scheme"
                            id="contact-submit" type="submit">Đăng nhập</button> -->
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Contact-Footer -->
              <div class="row justify-content-center animate__animated animate__fadeInUp animate__delay-5s">
                <div class="col-lg-6 text-center">
                  <h5 class="footer">Copyright&copy; &#160;<script>
                      document.write(new Date().getFullYear())
                    </script><a> Smartcard</a>&#160;&#160;<i
                      class="fas fa-heart animate__animated animate__pulse animate__faster animate__infinite	infinite"></i>&#160;&#160;All
                    rigths reserved</h5>
                </div>
              </div>
              <!-- Contact-Footer End -->
            </div>
            <!-- Contact-page End -->
          </div>
        </div>
      </section>
      <!-- Contact section End -->

    </div>
    <!-- section-part End-->
    <!-- Mouse-Cursor -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- Mouse-Cursor End-->
  </div>
  <!-- Body Part End -->

  <!-- Optional JavaScript -->
  <!-- Jquery Js -->
  <script src="assets/js/jquery.min.js"></script>
  <!-- Bootstrap Js -->
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <!-- Jquery FancyBox Js -->
  <script src="assets/js/jquery.fancybox.min.js"></script>
  <!-- Mixitup Js -->
  <script src="assets/js/mixitup.min.js"></script>
  <!-- Owlcarousel Js -->
  <script src="assets/js/owl.carousel.min.js"></script>
  <!-- Jquery Countdown Js -->
  <script src="assets/js/jquery.countdown.min.js"></script>
  <!-- Wow Js -->
  <script src="assets/js/wow.min.js"></script>
  <!-- colors JS -->
  <script src="assets/js/color.js"></script>
   <!-- Style.switch JS -->
  <script src="assets/js/style.switch.js"></script>
  <!-- Custom Js -->
  <script src="assets/js/custom.js"></script>

</body>

</html>